@font-face { /*custom font from Google fonts*/
  font-family: nanu;
  src: url(nanu_myeongjo-regular.ttf);
}

body {
	font-size: 18px;
	font-family: nanu;
	background: black;
	margin: 10px;
}

#Title {
	font-size: 50px;
	color: white;
    margin: auto; /*centers horizontally*/
   
    text-align: center;
}

#LandingMessage {
	font-size: 18px;
	color: white;
    text-align: center;
    margin: auto; /*centers horizontally*/
    width: 300px;
}

#BeginButton {
	font-size: 18px;
	font-family: nanu;
	color: #4169E1;
	text-decoration: underline;
	background: black;
	border: none;

	margin: auto; /*centers horizontally*/
    display:block;

    animation-delay: 600ms;
}

div.Container {
    color: black;
	background: white;

	position: relative;
	height: 300px; /*necessary in order to position input field*/
    width: 300px;
    margin: auto; /*centers horizontally*/

    text-align: center;
    justify-content: left;
    padding: 25px; /*space between border and text (content)*/
    padding-top: 10px; /*space between border and text (content)*/
}


#Answer{ /*element added using JS*/
	font-size: 16px;
	font-family: nanu;
	color: black;

	width: 120px;
	height: 24px;

	position: absolute; /*positions it relative to its preceding ancestor (the Container class)*/
	right: 196px;/*fixed from right corner of parent element (not from corner of window)*/
	bottom: 130px;
}

#subButton { /*element added using JS*/
	font-size: 14px;
	font-family: nanu;
	color: black;
	background: #d1d1d1;
	border-width: 1px;
	border-color: black;

	width: 78px;
	height: 28px;

	position: absolute; /*positions it relative to its preceding ancestor (the Container class)*/
	right: 110px;/*fixed from right corner of parent element (not from corner of window)*/
	bottom: 130px;
}

#MessageSpace {
	font-size: 16px;
	color: #008000;
	
	width: 160px;
	margin: -5px;

	text-align: left;
	position: absolute; /*positions it relative to its preceding ancestor (the Container class)*/
	left: 35px;/*fixed from right corner of parent element (not from corner of window)*/
	top: 222px;
}


#NextButton {
	font-size: 18px;
	font-family: nanu;
	color: #4169E1;
	text-decoration: underline;
	background: white;
	border: none;

	position: absolute; /*positions it relative to its preceding ancestor (the Container class)*/
	right: 30px; /*fixed 150 px from right corner of parent element (not from corner of window)*/
	bottom: 30px; /*fixed 15px from the bottom of parent element*/

}

#Red { /*ID added in JS*/
	color: #c80606;
}

p {
	text-align: left;
}

p.Question { /*class added in JS*/
	font-size: 24px;
}


div.Paws {
	position: relative;
	margin-top: -330px;
}

p.PawsMessage {
	font-size: 18px;
	color: white;
    text-align: center;
    margin: auto; /*centers horizontally*/
    width: 300px;
}

img.PawsImage {
	width: 300px;
	display: block; /*this tells the browser to treat the image as if it were a block element, not an inline element, thus allowing you to use the CSS margin property.*/
	margin: auto; /*centers horizontally*/
}